.postArea {
    border-radius: 20px;
    padding: 20px;
    background-color: #3b3b3b;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    width: 40%;
    height: auto; /* Change height to auto to allow expansion */
    margin-top: 20px; /* Add margin to create space between boxes */
    color: white;
    overflow: auto; /* Allow content to overflow */
    margin-left: 220px;
}

.profilePic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: white;
}

.userName {
    display: flex;
    align-items: center;
    text-align: left;
}

.Name {
    font-size: 20px;
    font-weight: bold;
}