.topBar {
    position: fixed;
    padding: 10px;
    background: linear-gradient(to bottom, #636363, #3b3b3b);
    display: flex;
    justify-content: space-evenly; /* Adjust the horizontal position */
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30px;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

.Name {
    font-size: 20px;
    font-weight: bold;
}

.topBar button {
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    align-items: center;
    text-align: center;
}
